body {
  background-color: rgb(245, 255, 159);
}
h1 {
  font-size: 40px;
  color: rgb(54, 26, 0);
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
h2 {
  font-size: 32px;
  color: rgb(54, 26, 0);
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
h3 {
  font-size: 24px;
  color: rgb(54, 26, 0);
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
p {
  color: rgb(54, 26, 0);
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
ol {
  color: rgb(54, 26, 0);
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 150px;
  margin-left: 80px;
}
ul {
  color: rgb(54, 26, 0);
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 100px;
  margin-left: 80px;
}
table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #ffffff;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
